{% extends "base_generic.html" %}
{% block title %}<title>Local Library — Borrowed All</title>{% endblock %}
{% block content %}
  <h1>All Borrowed Books</h1>

  {% if bookinstance_list %}
    <ul>
      {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
          <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
          ({{ bookinst.due_back }}) - {{ bookinst.borrower.get_username }}
          <a href="{% url 'renew-book-librarian' bookinst.pk %}">Renew</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no borrowed books.</p>
  {% endif %}
{% endblock %}